<!-- Form for submitting a search request -->
<%= form_tag users_url, method: :get do %>
 <br/>

  <div class='row'>
    <div class="col-md-2">
      <%= select_tag(:stype, user_search_options) %>

      <%= text_field_tag :search, nil, placeholder: "Search term" %>
     </div>

    <div class="col-md-2">
      <label>Filter results by:</label>
    </div>
    <div class="col-md-2">
      <%= radio_button_tag(:role_filter, :both, true) %>
      <label class='radio'>Both &nbsp&nbsp</label>
    </div>
    <div class="col-md-3">
      <%= radio_button_tag(:role_filter, :customer, false) %>
      <label class='radio'>Customer &nbsp&nbsp</label>
    </div>

     <div class="col-md-3">
      <%= radio_button_tag(:role_filter, :service_admin, false) %>
      <label class='radio'>Service Admin</label>
    </div>
    <!--/div>
  </div-->

    <div class="col-md-4">
      <%= submit_tag 'Search/Filter', class: 'button radius tiny secondary' %>
    </div>
   </div>
  </div>
  
  <br/>
<% end %>
