
<% if contact.present? %>

<%= form_for contact , url: manufacturer_contact_url, method: :put do |f| %>
  <div class="row">
    <div class="small-8 columns">
      <%= f.label :name %>
      <%= f.text_area :name, rows: 6 %>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <%= f.label :email %>
      <%= f.text_area :email, rows: 6 %>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <%= f.label :phone %>
      <%= f.text_area :phone, rows: 6 %>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <%= f.label :body %>
      <%= f.text_area :body, rows: 6 %>
    </div>
  </div>

  <div class='row'>
    <div class='small-12 columns'>
     <div class="form-actions">
    <%= f.submit nil, class: 'success-button' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                manufacturer_path(@manufacturer), class: 'cancel-button' %>
    </div>
   </div>
 </div>
<% end %>
<% else %>

<%= form_for [@manufacturer, Contact.new] do |f| %>
  <div class="row">
    <div class="small-8 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <%= f.label :body %>
      <%= f.text_field :body %>
    </div>
  </div>

<div class='row'>
    <div class='small-12 columns'>
     <div class="form-actions">
    <%= f.submit nil, class: 'success-button' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                manufacturer_path(@manufacturer), class: 'cancel-button' %>
    </div>
   </div>
 </div>
<% end %>
<% end %>