<%= render 'shared/validation_errors', verrors: verrors  %>

<%= form_for organization do |f| %>

<div class="Format-Header">
  <form class="form-horizontal" role="form">
    <div class="row row-grid">
      <div class="col-sm-6 col-lg-4">
          <div class="form-group">
             <label class="control-label col-md-4">Name</label>
             <div class="col-md-8">
              <%= f.text_field :name, class: 'form-control' %>
             </div>
           </div>
          </div>

     <div class="col-sm-6 col-lg-6">
        <div class="form-group">
           <label class="control-label col-md-4">Description</label>
            <div class="col-md-8">
              <%= f.text_area :description, class: 'form-control', rows: 4, placeholder: "Enter a brief organizational description" %>
            </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h4>Add New Organization Members</h4>
      <p>
        Please list the email address of each new organization member on separate line
        in the box below. Each member will receive an email notification that they
        have been added to the organization. <em>You should note that a user can
        only belong to a single organization.</em>
      </p>
      <br>
      <div class="row row-grid">
        <div class="col-sm-6 col-lg-4">
          <div class="form-group">
           <label class="control-label col-md-4">List of Email Addresses</label>
            <div class="col-md-8">
             <%= f.text_area :members, class: 'form-control', rows: 4,
             placeholder: "Enter email address of each member on a separate line." %>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
  
  <br>
  <br>
  <br>

  <!-- Section for setting up group members -->
  <% if organization.users.present? %>
    <div class="row">
      <div class="small-12 columns">
        <h4>Organization Members</h4>
        <p>
          The organization members are listed below. As a default
          starting point, the organization owner is also a member of the
          organization.
        </p>

        <table class='full-width'>
          <thead>
            <th>First name</th>
            <th>Last name</th>
            <th>Email address</th>
            <th>Remove</th>
          </thead>
          <tbody>
            <% organization.users.each do |user| %>
              <tr>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
                <td class="center">
                  <%= check_box_tag "organization[user_ids][]", user.id %>
                </td>
              </tr>
            <% end %>
           </tbody>
        </table>

      </div>
    </div>
  <% end %>

  <% if (action_name == 'edit') && (organization.users.count > 1) %>
    <div class='row'>
      <div class='small-12 columns'>
        <h4>Change Organization Owner</h4>
        <p>
          You can change the owner of this organization using the drop down list below.
          Please be aware that once you change ownership you will no longer be able
          to manage the organizations membership list. That responsibility will be
          transferred to the new organization owner.
        </p>

      </div>
    </div>

    <div class='row'>
      <div class='small-5 columns'>
        <%= f.select(:owner_id, organization.owner_choices) %>
      </div>
       <div class='small-7 columns'>
       </div>
    </div>
  <% end %>

<form class="form-horizontal" role="form">
 <div class="row row-grid" id="shaderow">
  <div class="form-actions" id="alignbutton">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_index_path, class: 'btn btn-primary' %>
  </div>
</div>
</form>
</div>
</form>
</div>
<% end %>
