<%= render 'shared/validation_errors', verrors: verrors  %>

<%= form_for manufacturer do |f| %>
 <div class="Format-Header">
   <form class="form-horizontal" role="form">
     <div class="row row-grid">
       <div class="col-sm-6 col-lg-6">
           <div class="form-group">
              <label class="control-label col-md-4">Name</label>
              <div class="col-md-8">
               <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>
           </div>

           <div class="col-sm-6 col-lg-6">
             <div class="form-group">
              <label class="control-label col-md-4">Address</label>
              <div class="col-md-8">
               <%= f.text_field :address, class: 'form-control' %>
              </div>
             </div>
            </div>
          </div>

          <div class="row row-grid">
           <div class="col-sm-6 col-lg-6">
             <div class="form-group">
              <label class="control-label col-md-4">Main Phone</label>
              <div class="col-md-8">
               <%= f.text_field :main_phone, class: 'form-control' %>
             </div>
            </div>
           </div>

           <div class="col-sm-6 col-lg-6">
             <div class="form-group">
               <label class="control-label col-md-4">Main Fax</label>
               <div class="col-md-8">
                <%= f.text_field :main_fax, class: 'form-control' %>
              </div>
             </div>
            </div>
          </div>

          <div class="row row-grid">
            <div class="col-sm-6 col-lg-6">
              <div class="form-group">
               <label class="control-label col-md-4">Website</label>
               <div class="col-md-8">
                <%= f.text_field :website, class: 'form-control' %>
               </div>
              </div>
             </div>

          <div class="col-sm-6 col-lg-6">
            <div class="form-group">
              <label class="control-label col-md-4">Tags</label>
              <div class="col-md-8">
               <%= f.text_field :tags, class: 'form-control' %>
             </div>
            </div>
           </div>
         </div>

         <br/>

         <div class="row row-grid" id="shaderow">
           <div class="form-actions" id="alignbutton">
             <%= f.submit class: "btn btn-primary" %>
             <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                         manufacturers_path, class: 'btn btn-primary' %>
           </div>
         </div>
       </div>
       </form>
</div>

<% end %>
