<%= render partial: 'layouts/admin_side_menu' %>
<%= render partial: 'layouts/admin_devise_nav'%>

<%- model_class = Manufacturer -%>

  <%= render 'shared/page_header',
    flash: flash,
    title: 'Service Wide Manufacturer Listing',
    description: "This page will show you a complete listing of
      manufacturers that have been created across the entire system.
      This view is a <em>Service Administrator</em> view and
      should be used with caution. These manufacturers and the records
      associated with each manufacturer maybe shared with user groups
      that you designate."
  %>

<div class='Format-Header1'>
<div class='row'>
   <div class="col-xs-12">

    <% if @manufacturers.present? %>
       <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Website</th>
            <th>Main phone</th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @manufacturers.each do |manufacturer| %>
            <tr>
              <td><b><u><%= link_to manufacturer.name, manufacturer_path(manufacturer) %></b></u></td>
              <td><%= manufacturer.address %></td>
              <td><%= manufacturer.website %></td>
              <td><%= manufacturer.main_phone %></td>
              <td>
                <%= link_to t('.edit', default: t("helpers.links.edit")),
                            edit_manufacturer_path(manufacturer), class: 'btn btn-primary' %>
                <%= link_to t('.destroy', default: t("helpers.links.destroy")),
                            manufacturer_path(manufacturer),
                            method: :delete,
                            data: { confirm: t('.confirm', default: t("helpers.links.confirm",
                              default: 'Are you sure?')) },
                            class: 'btn btn-primary' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
     <div class='Format-Header'>
      <p>
       No manufacturers have been created yet. Click on the <strong>New</strong>
       button below to create your first one.
      </p>
    </div>
    <% end %>
  </div>
</div>
<!--/div-->

<br/>
<div class="row row-grid" id="shaderow">
<div class='form-actions' id="alignbutton">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_manufacturer_path,
            :class => 'btn btn-primary' %>
</div>
</div>
</div>
