<%- model_class = Manufacturer -%>
<%= render 'shared/page_header',
  flash: flash,
  title: 'Manufacturer',
  description: "The information on this page shows you a manufacturer record, which
    includes the manufacturer owner and any user groups associated with the
    manufacturer."
%>

<div class="row">
 <div class="small-3 columns">
    <div class="right inline"><strong>Name:</strong></div>
  </div>
  <div class="small-9 columns left">
    <%= @manufacturer.name %>
  </div>
</div>

<div class="row">
 <div class="small-3 columns">
    <div class="right inline"><strong>Address:</strong></div>
  </div>
  <div class="small-9 columns left">
    <%= @manufacturer.address %>
  </div>
</div>

<div class="row">
 <div class="small-3 columns">
    <div class="right inline"><strong>Website:</strong></div>
  </div>
  <div class="small-9 columns left">
    <%= @manufacturer.website %>
  </div>
</div>

<div class="row">
 <div class="small-3 columns">
    <div class="right inline"><strong>Main Phone:</strong></div>
  </div>
  <div class="small-9 columns left">
    <%= @manufacturer.main_phone %>
  </div>
</div>

<div class="row">
 <div class="small-3 columns">
    <div class="right inline"><strong>Main Fax:</strong></div>
  </div>
  <div class="small-9 columns left">
    <%= @manufacturer.main_fax %>
  </div>
</div>

<div class="row">
 <div class="small-3 columns">
    <div class="right inline"><strong>Tags:</strong></div>
  </div>
  <div class="small-9 columns left">
    <%= @manufacturer.tags %>
  </div>
</div>

<div class='row'>
  <div class='12-small columns'>

    <% if @manufacturer.contacts.size > 0 %>
      <table class=""full-width"">
        <thead>
          <tr>
            <th width="20%">Name</th>
            <th width="30%">Email</th>
            <th width="20%">Phone</th>
            <th width="20%">Body</th>
            <th width="10%"><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @manufacturer.contacts.each do |contact| %>
            <tr>
              <td><%= link_to contact.name, manufacturer_contacts_path(@manufacturer, contact) %></td>
              <td><%= link_to contact.email, manufacturer_contacts_path(@manufacturer, contact) %></td>
              <td><%= link_to contact.phone, manufacturer_contacts_path(@manufacturer, contact) %></td>
              <td><%= link_to contact.body, manufacturer_contacts_path(@manufacturer, contact) %></td>
              <td>
                <%= link_to t('.edit', default: t("helpers.links.edit")),
                            manufacturer_contacts_path(@manufacturer, contact), class: 'intable-success-button' %>
                <%= link_to t('.destroy', default: t("helpers.links.destroy")),
                            manufacturer_contacts_path(@manufacturer, contact),
                            method: :delete,
                            data: { confirm: t('.confirm', default: t("helpers.links.confirm",
                              default: 'Are you sure?')) },
                            class: 'intable-delete-button' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>
        No contacts have been created yet. Click on the <strong>New</strong>
        button below to create your first one.
      </p>
    <% end %>
  </div>
</div>

<h2> New Contact</h2>

<%= form_for [@manufacturer, Contact.new] do |f| %>
  <div class="row">
    <div class="small-8 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <%= f.label :body %>
      <%= f.text_field :body %>
    </div>
  </div>

  <p><%= f.submit %></p>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              manufacturers_path, :class => 'cancel-button'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_manufacturer_path(@manufacturer), :class => 'success-button' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              manufacturer_path(@manufacturer),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'delete-button right' %>
</div>
