<!--aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">

    <li><label>Main Menu</label></li>
    <li <%= "#{active(edit_user_registration_path)}" %> >
      <%= link_to('<i class="fi-home"></i> Home'.html_safe, admin_index_path) %>
    </li>
    <li <%= "#{active(edit_user_registration_path)}" %> >
      <%= link_to('<i class="fi-database"></i> Asset Inventory'.html_safe,
        asset_items_path) %>
    </li>


    <li><label>Settings</label></li>

    <li <%= "#{active(edit_user_registration_path)}" %> >
      <%= link_to '<i class="fi-torso"></i> Profile'.html_safe, edit_user_registration_path %>
    </li>

    <!-- Service Administration Menu ========================= >
    <% if current_user.role == User::SERVICE_ADMIN %>
      <li <%= "#{active(manufacturers_path)}" %> >
        <%= link_to '<i class="fi-torsos"></i> Manufacturers'.html_safe,
          manufacturers_path %>
      </li>
    <% end %>

    <!-- User groups >
    <li <%= "#{active(organizations_path)}" %>>
      <%= link_to '<i class="fi-torsos-all"></i> Organization'.html_safe, organizations_path %>
    </li>

    <!-- Subscription >
    <li <%= "#{active(new_subscription_path)}" %> >
      <%= link_to '<i class="fi-dollar-bill"></i> Subscribe'.html_safe,
        new_subscription_path %>
    </li>

    <!-- Service Administration Menu ========================= >
    <% if current_user.role == User::SERVICE_ADMIN %>
      <li <%= "#{active(users_path)}" %> >
        <%= link_to '<i class="fi-torsos"></i> Users'.html_safe,
          users_path %>
      </li>
    <% end %>
  </ul>
</aside-->